![logoUPE - cópia.png]()![3logos.jpg]()![logoGovPE.jpg]()


# **Inteligência Artificial, Ciência de dados e Analytics**

Programa de formação de RH-Público em Inteligência Artificial, Ciência de Dados e Analytics (RH.IA-PE)

**Professor Responsável Projeto:** Ph.D. Fernando Buarque de Lima Neto 

**Professora**: Dra. Patricia Takako Endo

Doutorando Maicon Herverton Lino Ferreira da Silva Barros


---


**Módulo:** Linguagens de Programação para Inteligência Artificial			

**Atividade:** Aula 05 - Machine Learning

In [1]:
# Importando o Pandas.
import pandas as pd

### Redundância nos dados

In [18]:
# Primeiro criamos um DataFrame com dados redundantes
df = pd.DataFrame({
    "Nome": ["João", "Maria", "José", "Silvio"],
    "Gênero": ["Masculino", "Feminino", "Masculino", "Masculino"],
    "UF": ["PE", "PE", "PB", "RN"]
  }
)
df.head()

     Nome     Gênero  UF
0    João  Masculino  PE
1   Maria   Feminino  PE
2    José  Masculino  PB
3  Silvio  Masculino  RN

In [19]:
df.columns

Index(['Nome', 'Gênero', 'UF'], dtype='object')

In [20]:
# Filtrando as linhas referentes a PE
df = df[df['UF'] == 'PE']
df.head()

    Nome     Gênero  UF
0   João  Masculino  PE
1  Maria   Feminino  PE

In [22]:
# Usando o método 'drop'
df = df.drop(labels=['UF'], axis=1)

df.head()

    Nome     Gênero
0   João  Masculino
1  Maria   Feminino

### Linhas duplicadas

In [ ]:
# Criando um Dataframe com linhas duplicados
df = pd.DataFrame({'Nome': ['João', 'Maria', 'João', 'Silvio'], 'Gênero': ['Masculino', 'Feminino', 'Masculino', 'Masculino'], 'UF': ['PE', 'PE', 'PE', 'RN']})
df.head()

     Nome     Gênero  UF
0    João  Masculino  PE
1   Maria   Feminino  PE
2    João  Masculino  PE
3  Silvio  Masculino  RN

In [ ]:
df = df.drop_duplicates() #usamos o método drop_duplicates para remover as linhas duplicadas no DataFrame
df.head()

     Nome     Gênero  UF
0    João  Masculino  PE
1   Maria   Feminino  PE
3  Silvio  Masculino  RN

### Dados conflitantes

In [ ]:
# Criando um Dataframe com dados conflitantes
df = pd.DataFrame({'Paciente': ['João', 'Maria', 'José', 'Silvio'], 'Vacina': ['Coronavac', 'Butantan', 'Astrazeneca', 'Fiocruz']})
df.head()

  Paciente       Vacina
0     João    Coronavac
1    Maria     Butantan
2     José  Astrazeneca
3   Silvio      Fiocruz

In [32]:
df = pd.DataFrame({'Paciente': ['João', 'Maria', 'José', 'Silvio','Tiago'], 
     'Vacina': ['Coronavac', 'Butantan', 'Astrazeneca', 'Fiocruz','Butantanvac']
     }
)
df

  Paciente       Vacina
0     João    Coronavac
1    Maria     Butantan
2     José  Astrazeneca
3   Silvio      Fiocruz
4    Tiago  Butantanvac

In [33]:
lista_coronavac = ['Butantan','Butantanvac']

In [34]:
print(df)
i = 0
for vacina in lista_coronavac:
   print("Rodada: ",i," Valor: ",vacina)
   df.loc[df['Vacina'] == vacina, 'Vacina'] = 'Coronavac'
   print(df)
   i = i + 1
df

  Paciente       Vacina
0     João    Coronavac
1    Maria     Butantan
2     José  Astrazeneca
3   Silvio      Fiocruz
4    Tiago  Butantanvac
Rodada:  0  Valor:  Butantan
  Paciente       Vacina
0     João    Coronavac
1    Maria    Coronavac
2     José  Astrazeneca
3   Silvio      Fiocruz
4    Tiago  Butantanvac
Rodada:  1  Valor:  Butantanvac
  Paciente       Vacina
0     João    Coronavac
1    Maria    Coronavac
2     José  Astrazeneca
3   Silvio      Fiocruz
4    Tiago    Coronavac

  Paciente       Vacina
0     João    Coronavac
1    Maria    Coronavac
2     José  Astrazeneca
3   Silvio      Fiocruz
4    Tiago    Coronavac

In [ ]:
# Considerando que Coronovac é igual a Butantan e Astrazeneca é igual a Fiocruz
df.loc[df['Vacina'] == 'Butantan', 'Vacina'] = 'Coronavac'
df.loc[df['Vacina'] == 'Fiocruz', 'Vacina'] = 'Astrazeneca'
df.head()

  Paciente       Vacina
0     João    Coronavac
1    Maria    Coronavac
2     José  Astrazeneca
3   Silvio  Astrazeneca

### Codificação

In [65]:
# Criando um Dataframe com dados para serem codificados
df = pd.DataFrame({
    'Veículo': ['Fiat', 'Ford', 'Fiat', 'Jeep', 'Renault','Peugeot','Toyota','VW'], 
    'Área': ['Capital', 'Interior', 'RMR', 'Capital', 'Capital', 'RMR', 'RMR','Interior'], 
    'Consumo': [10, 15, 8, 6, 6, 6, 9, 5], 
    'Suspeito': ['Sim', 'Sim', 'Não', 'Não', 'Sim', 'Não', 'Sim', 'Não']})
df.head(10)

   Veículo      Área  Consumo Suspeito
0     Fiat   Capital       10      Sim
1     Ford  Interior       15      Sim
2     Fiat       RMR        8      Não
3     Jeep   Capital        6      Não
4  Renault   Capital        6      Sim
5  Peugeot       RMR        6      Não
6   Toyota       RMR        9      Sim
7       VW  Interior        5      Não

In [66]:
df.describe()

         Consumo
count   8.000000
mean    8.125000
std     3.270539
min     5.000000
25%     6.000000
50%     7.000000
75%     9.250000
max    15.000000

In [67]:
lista_tipos_veiculos = df['Veículo'].unique().tolist()
print(lista_tipos_veiculos) #imprimindo os tipos únicos da coluna Veículo
i = 1
for veiculo in lista_tipos_veiculos:
  df.loc[df['Veículo'] == veiculo, 'Veículo'] = int(i)
  i += 1
df

['Fiat', 'Ford', 'Jeep', 'Renault', 'Peugeot', 'Toyota', 'VW']

  Veículo      Área  Consumo Suspeito
0       1   Capital       10      Sim
1       2  Interior       15      Sim
2       1       RMR        8      Não
3       3   Capital        6      Não
4       4   Capital        6      Sim
5       5       RMR        6      Não
6       6       RMR        9      Sim
7       7  Interior        5      Não

In [84]:
df.loc[df['Veículo'] == 'Fiat', 'Veículo'] = 0
df.loc[df['Veículo'] == 'Ford', 'Veículo'] = 1
df.loc[df['Veículo'] == 'Jeep', 'Veículo'] = 2

df.loc[df['Área'] == 'Capital', 'Área'] = 0
df.loc[df['Área'] == 'Interior', 'Área'] = 1
df.loc[df['Área'] == 'RMR', 'Área'] = 2

df.loc[df['Suspeito'] == 'Sim', 'Suspeito'] = 1
df.loc[df['Suspeito'] == 'Não', 'Suspeito'] = 0

df["Veículo"] = pd.to_numeric(df["Veículo"]); 
df["Área"] = pd.to_numeric(df["Área"]); 
df["Suspeito"] = pd.to_numeric(df["Suspeito"]); 

print(df.head(10))
print(df.info())
df.describe() #método/função
df.shape #atributo

   Veículo  Área  Consumo  Suspeito
0        1     0       10         1
1        2     1       15         1
2        1     2        8         0
3        3     0        6         0
4        4     0        6         1
5        5     2        6         0
6        6     2        9         1
7        7     1        5         0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Veículo   8 non-null      int64
 1   Área      8 non-null      int64
 2   Consumo   8 non-null      int64
 3   Suspeito  8 non-null      int64
dtypes: int64(4)
memory usage: 384.0 bytes
None

(8, 4)

# Pré-processamento de dados em um DataFrame

In [85]:
# Importando a biblioteca Pandas.
import pandas as pd

# Montando a partição do Google Drive para acessar os arquivos
from google.colab import drive
drive.mount('/content/drive', True)

arquivo = '/content/drive/MyDrive/Forma.AI/material de apoio (colab)/datasets/aula_05_titanic.csv'
df = pd.read_csv(arquivo, sep=',', header=0)

print(f'Base carregada com sucesso: {df.shape[0]} linhas e {df.shape[1]} colunas\n')

# Imprimindo as 5 primeiras linhas
df.head(10)

Mounted at /content/drive
Base carregada com sucesso: 891 linhas e 12 colunas

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

**Data Dictionary - Titanic:**
* PassengerId = ID do passageiro
* Survived = Se o passageiro sobreviveu (0 = Não, 1 = Sim)
* Pclass = Classe do ticker (passagem) (1 = 1ª classe, 2 = 2ª classe, 3 = 3ª classe)
* Name = Nome do passageiro
* Sex = Gênero do passageiro
* Age = Idade do passageiro
* SibSp = Número de irmãos/irmãs ou maridos/esposas abordos do Titanic
* Parch = Número de pais (pai e mãe) ou filhos abordos do Titanic
* Ticket = Número do ticket (passagem)
* Fare = Valor da tarifa paga pelo passageiro
* Cabin = Número da cabine que o passageiro estava acomodado
* Embarked = Porto de embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

In [86]:
df.sample(10)

     PassengerId  Survived  Pclass  ...      Fare        Cabin  Embarked
88            89         1       1  ...  263.0000  C23 C25 C27         S
402          403         0       3  ...    9.8250          NaN         S
643          644         1       3  ...   56.4958          NaN         S
727          728         1       3  ...    7.7375          NaN         Q
320          321         0       3  ...    7.2500          NaN         S
220          221         1       3  ...    8.0500          NaN         S
712          713         1       1  ...   52.0000         C126         S
421          422         0       3  ...    7.7333          NaN         Q
762          763         1       3  ...    7.2292          NaN         C
177          178         0       1  ...   28.7125          C49         C

[10 rows x 12 columns]

## Vamos remover colunas indesejadas

In [87]:
# Vamos criar uma lista contendo as colunas indesejadas
colunas_indesejadas = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp', 'Parch']
print(f'Removendo as colunas indesejadas: {colunas_indesejadas}')

print(f'Data set antes da remoção das colunas: {df.shape[0]} linhas e {df.shape[1]} colunas')

# Removendo as colunas indesejadas.
# O parâmetro 'labels' espera receber uma lista com os nomes das colunas que devem ser removidas (dropadas).
# O parâmetro 'axis' espera receber 0 (ou 'index') para remover linhas ou 1 ('columns') para remover colunas.
# No nosso caso, iremos remover as colunas (axis=1 ou axis='columns')
df = df.drop(labels=colunas_indesejadas, axis=1)

print(f'Data set após a remoção das colunas: {df.shape[0]} linhas e {df.shape[1]} colunas\n')
df.head(10)

Removendo as colunas indesejadas: ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp', 'Parch']
Data set antes da remoção das colunas: 891 linhas e 12 colunas
Data set após a remoção das colunas: 891 linhas e 6 colunas

   Survived  Pclass     Sex   Age     Fare Embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S
5         0       3    male   NaN   8.4583        Q
6         0       1    male  54.0  51.8625        S
7         0       3    male   2.0  21.0750        S
8         1       3  female  27.0  11.1333        S
9         1       2  female  14.0  30.0708        C

## Removendo linhas com valores vazios (NaN)

In [ ]:
print('Número de linhas vazias para cada coluna (NaN):')
df.isna().sum()

Número de linhas vazias para cada coluna (NaN):

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
Embarked      2
dtype: int64

In [90]:
# Visualizando uma amostra aleatória de 3 linhas com valores vazios para 'Age'
df[df['Age'].isna()].sample(5)

     Survived  Pclass     Sex  Age     Fare Embarked
364         0       3    male  NaN  15.5000        Q
256         1       1  female  NaN  79.2000        C
185         0       1    male  NaN  50.0000        S
17          1       2    male  NaN  13.0000        S
101         0       3    male  NaN   7.8958        S

In [91]:
# Visualizando as duas linhas com valores vazios para 'Embarked'
df[df['Embarked'].isna()]

     Survived  Pclass     Sex   Age  Fare Embarked
61          1       1  female  38.0  80.0      NaN
829         1       1  female  62.0  80.0      NaN

In [92]:
# Removendo as linhas com valores vazios (NaN)
# Caso queira remover as colunas que possuem valores vazios, invés de axis=0, usar axis=1
df = df.dropna(axis=0)

print(f'Data set após a remoção de linhas com valores vazios (NaN): {df.shape[0]} linhas e {df.shape[1]} colunas\n')
df.head(10)

Data set após a remoção de linhas com valores vazios (NaN): 712 linhas e 6 colunas

    Survived  Pclass     Sex   Age     Fare Embarked
0          0       3    male  22.0   7.2500        S
1          1       1  female  38.0  71.2833        C
2          1       3  female  26.0   7.9250        S
3          1       1  female  35.0  53.1000        S
4          0       3    male  35.0   8.0500        S
6          0       1    male  54.0  51.8625        S
7          0       3    male   2.0  21.0750        S
8          1       3  female  27.0  11.1333        S
9          1       2  female  14.0  30.0708        C
10         1       3  female   4.0  16.7000        S

In [ ]:
print('Número de linhas vazias para cada coluna (NaN):')
df.isna().sum()

Número de linhas vazias para cada coluna (NaN):

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
Embarked    0
dtype: int64

In [95]:
# Usando o 'loc' para localizar as linhas através de um filtro, 
# e selecionar uma coluna específica da coluna e atribuir um novo valor para ela.
df.loc[df['Sex'] == 'male', 'Sex'] = 0
df.loc[df['Sex'] == 'female', 'Sex'] = 1

df.loc[df['Embarked'] == 'C', 'Embarked'] = 0
df.loc[df['Embarked'] == 'Q', 'Embarked'] = 1
df.loc[df['Embarked'] == 'S', 'Embarked'] = 2

print(f'Data set após a codificação dos valores categóricos: {df.shape[0]} linhas e {df.shape[1]} colunas\n')
df.head()

Data set após a codificação dos valores categóricos: 712 linhas e 6 colunas

   Survived  Pclass Sex   Age     Fare Embarked
0         0       3   0  22.0   7.2500        2
1         1       1   1  38.0  71.2833        0
2         1       3   1  26.0   7.9250        2
3         1       1   1  35.0  53.1000        2
4         0       3   0  35.0   8.0500        2